.lista {display: grid; grid-template-columns: auto auto auto 290px !important;}
.modal {width: 500px; left: calc(50vw - 250px) !important; top: calc(50vh - 395px/2) !important}
.modal .conteudo label {display: block;}